.features{
    padding: 5rem 10rem;
}
.features_card{
    margin: 4rem 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.8rem;
}
.features_card .card{
    background-color: rgba(79, 70, 115, 0.25);
    padding: 2rem;
    border-radius: 8px;
}
.features_card .card .card_heading{
    width: 80%;
}
@media screen and (max-width:1120px) {
    .features{
        padding: 0 4rem 0;
    }
}
@media screen and (max-width:1050px) {
    .features_card{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:720px) {
    .features_card{
        display: block;
    }
    .features_card .card:not(:last-child){
        margin-bottom:2.4rem;
    }
}