.testimonials{
    padding: 10rem;
    position: relative;
    overflow: hidden;
}
.testimonials .background{
    height: 100%;
}
.background div{
    position: absolute;
    z-index: 1;
    width: 58rem;
    height: 58rem;
    border-radius: 50%;
    filter: blur(305px);
}
.bg1{
    background: rgba(199, 19, 240, 0.45);
    z-index: 2;
    left: 0;
    top: 0;
}
.bg2{
    background: rgba(37, 206, 243, 0.30);
    right: 5%;
    top: 10%;
}
.box{
    position: relative;
    z-index: 3;
}
.testimonials_content{
    background-color: rgba(79, 70, 115, 0.35);
    border-radius: 1.6rem;
    padding: 4rem 10rem;
    font-weight: 300
}
.testimonials_content .review{
    color: rgba(255,255,255,0.8);
}
.person_info{
    display: flex;
    margin-top: 3.2rem;
    justify-content: center;
    width: fit-content;
    margin: 3.2rem auto;
}
.person_info img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.6rem;
}
.person_info .details .name{
    text-align: left;
}
.person_info .details p{
    margin-top: .2rem;
}
@media screen and (max-width:1120px) {
    .testimonials{
        padding: 4rem;
    }
    .testimonials_content{
        padding: 4rem 4rem;
    }
    
}
@media screen and (max-width:900px) {
    .testimonials{
        padding: 3rem 4rem 4rem;
    }
    .testimonials_content{
        padding: 4rem 2.4rem;
    }
    .person_info{
        justify-content: left;
        margin: 3.2rem 2rem 0;
    }
    .testimonials h4{
        font-size: 1.6rem;
    }
}