.works{
    padding:8rem 0 8rem 10rem;
    overflow: hidden;
}
.works h3{
    margin-bottom: 4rem;
}
.works .works_content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15rem;
    width: 100%;
    align-items: center;
}
.works .works_content .works_information{
    width: 100%;
}
.works_content_img{
   width: 120%;
   height: fit-content;
}
.works_content_img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-right: -20%;
}
.works .card{
    display: flex;
    width: 100%;
    height: fit-content;
}
.works .card_texts{
    height: 100%;
}
.works .card_texts h4{
    margin-top: 0;
    margin-bottom: 2rem;
}
.works .card_texts p{
    padding-bottom: 2rem;
}
.works .discs{
    height: auto;
    margin-right: 2rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works .discs .circ{
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background: #A522C3;
}
.works .card:not(:last-child) .discs .line{
    height: 100%;
    width: 0.2rem;
    background: #A522C3;
}
@media screen and (max-width:1120px) {
    .works{
        padding:4rem 0 4rem 4rem;
    }
    .works .works_content{
        grid-template-columns: 1fr 1.5fr;
        gap: 5rem;
    }
    .works_content_img{
        width: 140%;
     }
     .works_content_img img{
         margin-right: -40%;
     }
}
@media screen and (max-width:900px) {
    .works{
        padding:4rem 4rem 4rem 4rem;
    }
    .works .works_content{
        display: block;
    }
    .works_content_img{
        width: 100%;
     }
     .works_content_img img{
         margin-right: 0;
     }
}